.header {
  background: url("./../imgs/555p.jpeg") center no-repeat;
  background-size: cover;
  max-width: 100%;
  text-align: center;
  height: 550px;
  overflow: hidden;
  margin-top: 50px;
  position: relative;
  width: 100%;
  margin-bottom: 45px;
  padding: 50px 0;
}

.contnent h1 {
  color: #fff;

  font-family: merienda;
  font-size: 45px;
  letter-spacing: 2px;
  font-weight: 600;
  position: relative;
  text-align: left;
}
.header .contnent {
  position: relative;
  text-align: left;
  margin-top: -100px;
  margin-left: -220px;
}

.contnent span {
  font-size: 50px;
  color: #9c5a09;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  letter-spacing: 2px;
}

.contnent button {
  width: 150px;
  height: 50px;
  background-color: #ff8c00;
  border: 1px solid #ff8c00;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  margin: 20px 10px 20px 0px;
  font-size: 15pt;
  font-family: "Gill Sans", sans-serif;
  align-items: center;
  border-radius: 12px;
  margin-left: 20px;
}

.contnent button:last-of-type {
  background-color: #fff;
  color: #ff8c00;
}
.contnent button:hover {
  transition: 0.2s ease-in-out;
}
.contnent button:first-of-type:hover {
  background-color: #fff;
  color: #ff8c00;
}
.contnent button:last-of-type:hover {
  background-color: #ff8c00;
  color: #fff;
}
.contnent a {
  text-decoration: none;
  color: black;
}

.about-us {
  height: 400px;
}
.container-about-us h1,
.section-produit h1,
.adresse h2 {
  color: black;
  font-size: 40px;
  line-height: 50px;
  font-family: Verdana, sans-serif;
  width: 100%;
  margin-top: 5.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.container-about-us p {
  font-size: 20px;
  padding-left: 20px;
  font: weight 300px;
  color: black;
  padding-top: 90px;
}

.container-about-us p span {
  color: #ff8c00;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}
.silder {
  width: 100%;
  height: 60%;
}
.carousel-control-prev,
.carousel-control-next {
  margin-bottom: 700px;
}
.carousel-indicators {
  margin-bottom: 260px;
}
.section-produit {
  background-color: beige;
}
.produit {
  margin-top: -100px;
}
.section-produit p {
  text-align: center;
  font-size: 18px;
}
.section-produit p span {
  color: #ff8c00;
  font-size: 25px;
  font-weight: 700;
}
.carousel-inner img {
  border-radius: 12px;
}
@media screen and (max-width:500px){
  .header .contnent {
    position: relative;
    text-align: left;
    margin-top: -100px;
    margin-left: 0;
  }

  
  .contnent span {
    font-size: 25px;
    color: #ffff;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
    letter-spacing: 1px;
    margin-left: 0;
  }
  .contnent button {
    margin-left:120px;
  }
  .header {
    background-size: cover;
    width: 100%;
    height: 550px;
    margin-top: 60px;
    position: relative;
    width: 100%;
    margin-bottom: 45px;
    padding: 150px 0;
    margin-left: 0px;
    margin-right: 0px;
  }
  .section-produit{
    margin-top: 700px;
  }
}
@media screen and (max-width:999px){
 
  .header {
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-top: 60px;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
  }
  .contnent span {
   font-size: 20px;
   margin-bottom: 100px;
    
  }
  .contnent button {
    width: 100px;
    height: 30px;
 
  }
}